@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

<ul class="dropdown-menu">
	@foreach (var item in Model)
	{
		<li><a href="@Url.Action("Index", "User", new { area="Administrator", role=item.Name })">@string.Concat(item.Name, "s")</a></li>
	}
	@if (Model.Any(x => x.Name == "Moderator"))
	{
		<li class="divider" role="separator"></li>
		<li><a href="@Url.Action("Add", "User", new { area="Administrator"})"><span class="glyphicon glyphicon-plus"></span> Add User</a></li>
	}
</ul>