@{
	Layout = null;
	ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Interactive Learning Systems</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="row well text-center">
		<h2>Interactive Learning System</h2>
		<h4>More about the system</h4>
	</div>
	<br />
	<div class="row well text-center">
		In it's current state the I.L.S uses some trial Kendo MVC Controllers as well as some graphics from 
		the free distributed Class Dojo mobile app.
	</div>
</body>
</html>