@model IEnumerable<InteractiveLearningSystem.Web.Areas.Administrator.Models.StudentDetailsListView>
@using Kendo.Mvc.UI
@{
	ViewBag.Title = "Students";
}
<div class="well text-center">
	<h2>Students List</h2>
</div>

@(Html.Kendo()
	.Grid(Model)
		.Name("StudentGrid")
		.Columns(columns =>
		{
			columns.Bound(col => col.AvatarUrl).ClientTemplate("<img src=#: AvatarUrl # />");
			columns.Bound(col => col.UserName);
			columns.Bound(col => col.Email);
			columns.Bound(col => col.SchoolName);
			columns.Bound(col => col.Experience);
			columns.Bound(col => col.Level);
			columns.Bound(col => col.Points);
		})
		.Pageable()
		.DataSource(data =>
		data
		.Ajax()
		.PageSize(5)
		.Read(read => read.Action("Read", "User", new { area = "Common", role = "Student" }))
		//.Create(create => create.Action("Create", controllerName))
		//.Update(update => update.Action("Update", controllerName))
		//.Destroy(destroy => destroy.Action("Destroy", controllerName))
		))


