@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@using Kendo.Mvc.UI

<div style="margin-top: 0.75em;">
	@(Html.Kendo().AutoComplete()
		  .Name("autoCompleteData")
		  .DataTextField("Name")
		  .Filter("contains")
		  .MinLength(3)
		  .HtmlAttributes(new { style = "width:100%" })
		  .Placeholder(TempData["Placeholder"].ToString())
		  .Template("<span class=\"k - state - default\"><a href='" + @Url.Action("Details", "School", new { area = Model.First().Name }) + "/#= Id #'" + ">#= Name #</a>")
		  .DataSource(data =>
		  {
			  data
			  .Read(read =>
			  {
				  if (true) {
					  read.Action("SchoolAutocomplete", "SearchPartial")
				  .Data("onAutocompleteData");
				  }
			  })
			  .ServerFiltering(true);
		  })
	)
</div>