@using Kendo.Mvc.UI

<div class="col-md-offset-3 col-md-3" style="margin-top: 0.75em;">
	@(Html.Kendo().AutoComplete()
		  .Name("schools")
		  .DataTextField("Name")
		  .Filter("contains")
		  .MinLength(3)
		  .Placeholder("Search schools...")
		  .DataSource(data =>
		  {
			  data
			  .Read(read =>
			  {
				  read.Action("SchoolAutocomplete", "SearchPartial")
				  .Data("onSchoolAutocompleteData");

			  })
			  .ServerFiltering(true);
		  })
	)
</div>

