
@{
	ViewBag.Title = "Index";
	//Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row text-center">
	<div class="well">
		<h2>Admin Dashboard</h2>
	</div>
</div>


